{% if should_track %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WXLPNFHYLP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag("js", new Date());
  gtag("config", "G-WXLPNFHYLP");
</script>
{% if cf_beacon_token %}
<!-- Cloudflare Web Analytics --><script type='module'
  src='https://static.cloudflareinsights.com/beacon.min.js'
  data-cf-beacon='{"token": "{{ cf_beacon_token }}"}'></script>
<!-- End Cloudflare Web Analytics -->
{% endif %}
{% endif %}
